public-hoist-pattern[]=@types/*
#public-hoist-pattern[]=socket.io*
#public-hoist-pattern[]=express*
public-hoist-pattern[]=@socket.io/*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*esbuild* 